/*Import Core*/

@import "core/reset-min";
@import "core/fonts";
@import "core/variables";
@import "core/mixin";

* {
    font-family: 'Sofia Pro Soft', 'Helvetica Nueue', sans-serif;
}

html {
    font-size: 62.5%;
}

a {
    text-decoration: none;
    display: inline-flex;
}

img {
    border-radius: 0.5rem;
}

body {
	background-color: $color-white;
}
.container {
	background-color: $color-white;
	width: 100%;
	height: 100%;
	display: flex;
	overflow: auto;
	flex-direction: column;
} 

h1{
	font-size: 3.2rem;
	font-style: normal;
	font-weight: 500;
}

.navbar-container {
	width: 100%;
	height: 8rem;
	position: fixed;
	top: 0;
	// padding-left: 23rem;
	// padding-right: 23rem;
	background-color: $color-white;
	display: flex;
	justify-content: center;
	align-items: center;

}
.navbar {
	
	background-color: $color-white;
	display: flex;
	justify-content: space-between;
	width: 84rem;
	padding: 0 4rem;
	
	
}

.logo {
		// align-self: flex-start;
		display: flex;
	}


.toggle-nav {
    display:none;
}


@media screen and (min-width: 768px) {

	.navbar-menu {
	// overflow: hidden;
	// position: fixed;
	display: flex;
	align-items: center;

	ul{
		display: flex;
		justify-content: flex-end;
		align-items: center;
		list-style: none;
	}
	
	li {
		align-self: flex-end;
		// font-size: 1.4rem;
		// color: $color-black;
		padding: 0 2.5rem;

		a{
			font-size: 1.4rem;
			font-weight: normal;
			font-style: normal;
			color: $color-black;
		}

	
	}
	}

}


@media screen and (max-width: 768px) {

	.navbar-menu {
	// overflow: hidden;
	// position: fixed;
	display: flex;
	align-items: center;
	position: relative;
	
	
	ul{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		list-style: none;
		position: absolute;
		background-color: $color-white;
		border-radius: 0.5rem;
		padding:1rem;
		top: 105%;
		// width: 100%;
		right: 0;
		

		&.active {

		display: none;
		}

	}

	
	li {
		// align-self: flex-end;
		// font-size: 1.4rem;
		// color: $color-black;
		padding: 1rem 2.5rem;
		display: flex;

		a{
			font-size: 1.4rem;
			font-weight: normal;
			font-style: normal;
			color: $color-black;
		}

	
	}

	}

	.toggle-nav {
        padding:0.2rem 0.7rem;
        float:left;
        display: flex;
        border: 0.2rem solid $color-bg-yellow;
        // display:inline-block;
        // box-shadow:0px 1px 1px rgba(0,0,0,0.15);
      	border-radius:0.5rem;
        background-color: $color-white;
        // text-shadow:0px 1px 0px rgba(0,0,0,0.5);
        color:$color-black;
        font-size:2rem;
        transition:color linear 0.15s;
    }

}





.header { 
	width: 100%;
	min-height: 68rem;
	background-color: $color-white;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 16rem;
}

.l-intro {
	@include flex-layout;
	background-color: $color-white;
	margin-top: 10rem;
	margin-bottom: 16rem;

}

.intro {
	@include flex-inner;
	color: $color-blue;
	font-size: 3.3rem;
	// padding-top: -16rem;
	span{
		color: $color-red;
		}
	
	h1{
		max-width: 54rem;
	}
}


.midsection {
	@include flex-layout;
	background-color: $color-mainbg;
	flex-direction: column;
	min-height: 25rem;
	padding-bottom: 5%;
}

.l-midsection{
	@include flex-layout;
	background-color: $color-mainbg;
	flex-direction: column;
	padding-bottom: 5%;
}

.l-skillset{
	@include flex-layout;
	margin-top: -25rem;
	min-height: 50rem;
	background-color: $color-bg-blue;
}

.skillset{
	@include flex-inner;
	background-color: $color-bg-blue;
	color: $color-white;
	a{
		color: $color-white;
	}
}


.l-interest{
	@include flex-layout;
	min-height: 47rem;
	background-color: $color-white;
	// margin-bottom: -53rem;

}


.interest {
	@include flex-inner;
	background-color: $color-white;
	color: $color-black;
	a{
		color: $color-black;
	}
	h1{
		color: $color-red;
	}
}


.l-contact {
	@include flex-layout;
	min-height: 50rem;
	background-color: $color-bg-yellow;	
}

.contact{
	@include flex-inner; 
	background-color: $color-bg-yellow;	
	color: $color-yellblue;
	a, h1 {
		color: $color-yellblue;

	}
}

.subtext {
	font-size: 1.8rem;
	max-width: 54rem;
	line-height: 3rem;
	font-style: normal;
	font-weight: normal;

	a {
		text-decoration: underline;
	}
}

.footer{
	@include flex-layout;
	min-height: 5rem;
	background-color: $color-bg-yellow;	
	color: $color-yellblue;
	font-size: 1.4rem;
	font-weight: normal;
	font-style: normal;
}
.img {
	display: flex;
	padding-bottom: 2rem;
}