@font-face {
	font-family: 'Sofia Pro Soft';
	src: url('SofiaProSoft.eot');
	src: url('SofiaProSoft.eot?#iefix') format('embedded-opentype'),
		url('SofiaProSoft.woff') format('woff'),
		url('SofiaProSoft.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Sofia Pro Soft';
	src: url('SofiaProSoft-Medium.eot');
	src: url('SofiaProSoft-Medium.eot?#iefix') format('embedded-opentype'),
		url('SofiaProSoft-Medium.woff') format('woff'),
		url('SofiaProSoft-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}